<div>
  <div>
    {{#if unique_name}}
      <h5 class='unique_name'>{{unique_name}}</h5>
    {{else}}
      <h5 class='name'>{{name}}</h5>
    {{/if}}
    <div>
      {{#if image}}
        <img
          class='image'
          src='{{image}}'
          width='100%'
          alt='{{name}}'
          onerror="this.onerror=null;this.src=''"
        />
      {{else}}
        <img
          class='image-stand-in'
          src='https://www.clubscikidzmd.com/wp-content/uploads/2020/11/coming-soon-neon-sign-coming-soon-badge-in-vector-21133321.jpg'
          width='100%'
          alt='{{name}}'
        />
      {{/if}}
      <span><p class='amount'>{{amount}}</p><p
          class='symbol'
        >{{symbol}}</p></span>
    </div>
  </div>
</div>
